@model AddEditPieViewModel

<h3 class="my-5">
    You're just one step away from adding new delicious pie.
</h3>
<div class="col-6">
    <form asp-action="AddPie" method="post" role="form">
        
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="col-12">
                <label asp-for="ShortDescription" class="form-label"></label>
                <input asp-for="ShortDescription" class="form-control"/>
            </div>
            <div class="col-12">
                <label asp-for="LongDescription" class="form-label"></label>
                <input asp-for="LongDescription" class="form-control" rows="3" />
            </div>
            <div class="col-12">
                <label asp-for="AllergyInformation" class="form-label"></label>
                <input asp-for="AllergyInformation" class="form-control" />
            </div>
            <div class="col-12">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            <div class="col-12">
                <label asp-for="ImageUrl" class="form-label"></label>
                <input asp-for="ImageUrl" class="form-control" type="url" />
            </div>
            <div class="col-12">
                <label asp-for="ImageThumbnailUrl" class="form-label"></label>
                <input asp-for="ImageThumbnailUrl" class="form-control" type="url" />
            </div>
            <div class="col-6">
                <div class="form-check">
                    <input asp-for="IsPieOfTheWeek" class="form-check-input" type="checkbox" id="isPieOfTheWeek" value="true">
                    <label class="form-check-label" for="isPieOfTheWeek">
                    Is pie of the week
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-check">
                    <input asp-for="InStock" class="form-check-input" type="checkbox" id="inStock" value="true">
                    <label class="form-check-label" for="inStock">
                    In stock
                    </label>
                </div>
            </div>
            <div class="form-group col-12">
                <label asp-for="Category" class="form-label" for="category-list"></label>
                <select class="form-select" name="CategoryId" id="CategoryId">
                    <option selected>-- Choose category --</option>
                    @foreach (var cat in Model.Categories)
                    {
                        <option value="@cat.CategoryId">@cat.CategoryName</option>
                    }
                </select>
            </div>
        </div>
        <div class="mt-2">
            <div class="col-md-offset-2 col-md-5"><br />
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </form>
</div>
<div>
    <br />
    <a asp-action="ManagePies">Back to List</a>
</div>